### Python Data Types

1. Data type represent the type of data present inside a variable.
2. Every value in Python has a data type.
3. In python not required to specify the type explicitly.
4. Based on value, the type will be assigned automatically.
 
 Python is Dynamically Typed Language Python contains

### None

In [1]:
a=None 
print(a) 
print(type(a))

None
<class 'NoneType'>

### Numeric: It classified Four Types
1. Int
2. Float
3. Complex
4. Bool

In [2]:
a=10
print(a) 
print(type(a))

10
<class 'int'>

In [3]:
a=10.16
print(a) 
print(type(a))

10.16
<class 'float'>

In [4]:
a=10j 
print(a)
print(type(a))

10j
<class 'complex'>

In [5]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

###  convert from int to float

In [6]:
a=10
print(a) 
print(type(a)) 
b=float(a) 
print(b) 
print(type(b))

10
<class 'int'>
10.0
<class 'float'>

### convert from float to int

In [7]:
a=10.8
print(a) 
print(type(a))

b=int(a) 
print(b) 
print(type(b))

10.8
<class 'float'>
10
<class 'int'>

### Program to accept input from user

In [8]:
name=input("Enter your name:") 
print("your name is:", name)

your name is: shivaji

### Program to accept integer values from user

In [11]:
a=input("Enter Num1:") 
b=input("Enter Num2:") 
print("result is:",a+b)

result is: 55

### Note: by default, the values entered by user at runtime will be treated as string

In [13]:
a=input("Enter Num1:") 
print(type(a)) 
b=input("Enter Num2:") 
print(type(b)) 
print("result is:",a+b)

<class 'str'>
<class 'str'>
result is: 22

### we have to convert from string to integer

In [ ]:
a=input("Enter Num1:") 
print(type(a))
x=int(a)
b=input ("Enter Num2:") 
print(type(b))
y=int(b)
print("result is:", x+y)

### complex data types

In [16]:
x = 3 + 4j       # Creates a complex number (3+4j)
y = complex(5)   # Creates (5+0j), real part only
z = complex(3, 2) # Creates (3+2j), with real and imaginary parts
w = complex("2+3j") # Using a string

print(x.real) 
print(x.imag)

3.0
4.0

### string

1. str represents String data type.
2. A string is a sequence of characters enclosed within single quotes or double quotes.
3. String can be create by using '' or "" or ''' ''' or """ """

In [17]:
s1 = 'Hello'
s2 = "World"
print(s1)        
print(s2)

Hello
World

In [18]:
s3 = """This is a
multiline string."""
print(s3)

This is a
multiline string.